<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test.Testmvn.MobileTest"/>
      <class name="Test.Testmvn.SeleniumTest"/>
      <class name="Test.Testmvn.ExtentTest"/>
      <class name="TestCase.HomeAmazonTestcase"/>
      <class name="TestCase.HomeAmazonPFTestcase"/>
      <class name="TestCase.HomeTestCase"/>
      <class name="Test.Testmvn.RestAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
